@font-face {
	font-family: Arita-buriM;
	src: url(../../fonts/Arita-buriM.otf);
}

.Header > nav {
	width: 100%;
	background-color: #665629;
	display: flex;
	justify-content: space-around;
}

.Header > nav > a {
	width: 20%;
	text-decoration: none;
	text-align: center;
	text-shadow: 0px 0px 4px rgb(197, 197, 85);
	font-family: Arita-buriM, sans-serif;
	font-size: 20px;
	font-size: 1.5vw;
	font-weight: 900;
	color: #e0c22a;
	padding: 1vw 1vw;
	transition: background-color 0.2s ease-in-out;
}

.Header > nav > a:hover {
	background-color: #111;
}