#keyPage {
    height: inherit;

    display: grid;

    grid-template-rows: 18% 39% auto;

    margin: 0 3%; 

    background-image: linear-gradient(rgba(0,0,0, 0.5) 50%, transparent);
    background-color: rgba(0,0,0, 0.3);

    text-shadow: 0.1vw 0.1vw 0.3vw #ffff9c;
    box-shadow: 2px 2px 4px rgba(0,0,0, 0.3);

    border-style: solid double solid solid;
    border-width: 0.2vw 1vw 0.2vw 0.6vw;
    border-radius: 0.4vw;

    #keyPageName {
        margin: 0 10% 0 10%;

        grid-column-start: 1;
        place-self: center;
        text-align: center;

        line-height: 115%;
            
        font-size: 140%;
        font-weight: 1000;
        letter-spacing: 0.2vw;
    }

    #statFull {
        display: grid;
        grid-template-columns: 30% auto;

        border-style: solid;
        border-width: 0.1vw 0 0.1vw 0;

        #stat {
            border-style: solid;
            border-width: 0 0.1vw 0 0;
            
            display: grid;
            grid-template-rows: auto;

            #hp, #stg, #spd{
                display: grid;
                grid-template-columns: 40% auto;

                margin: 0 10% 0 10%;
            }

            #hpIcon, #stgIcon{
                place-self: center;
                max-height: 60%;
                max-width: 60%;
            }

            #spdIcon{
                place-self: center;
                max-height: 80%;
                max-width: 80%;
            }

            #hpText, #stgText, #spdText {
                place-self: center;
            }

            #hpText { color: #ed2d05; text-shadow: 0.05vw 0.05vw 0.2vw #ed2d05;}
            #stgText { color: #f0f464; text-shadow: 0.05vw 0.05vw 0.2vw #f0f464;}
            #spdText { color: #d6bc89; text-shadow: 0.05vw 0.05vw 0.2vw #d6bc89;}

            p {
                vertical-align: middle;
            }
        }

        #res {
            display: grid;
            grid-template-columns: 50% 50%;

            #hpRes, #stgRes {
                display: grid;
                grid-template-rows: auto;

                #slashRes, #pierceRes, #bluntRes {
                    display: grid;
                    grid-template-columns: 40% auto;

                    margin: 0 10% 0 10%;

                    #resIcon {
                        place-self: center;
                        max-height: 60%;
                        max-width: 60%;
                    }

                    #resText {
                        color: rgb(198, 197, 197);
                        text-shadow: 0.05vw 0.05vw 0.2vw #b8b3b3;
                        letter-spacing: 0.03vw;
                    }
                }
            }
        }
    }

    #passive {
        --thumb-visible: rgb(255, 255, 255);
        color: rgb(198, 197, 197);
        text-shadow: 0.05vw 0.05vw 0.2vw #b8b3b3;
        letter-spacing: 0.03vw;
        display: grid;
        overflow: auto;
        list-style-type: none; 

        row-gap: 0.5vw;

        padding: 0;

        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */

        line-height: 120%;
            
        font-size: 80%;
        letter-spacing: 0.06vw;

        #passiveIndi {  
            border-style: solid;
            border-width: 0.1vw 0 0 0;

            display: grid;
            grid-template-columns: 5% 25% 70%;

            width: 100%;
            min-width: 100%;

            margin: 0;

            #passiveCost {
                margin: 0.5vw 0 0 0.6vw;
                padding: 0;
                place-self: start;
            }

            #passiveName {
                margin: 0.5vw 0 0 0.5vw;
                padding: 0;
                place-self: start;
            }

            #passiveAbilitiesList {
                list-style-type: none; 
                margin: 0.5vw 1vw 0 2vw;
                padding: 0;
                place-self: start;
            }
        }
    }

    #passive:hover::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.5);
    }

    #passive::-webkit-scrollbar {
        background-color: rgba(255, 255, 255, 0.05);
        border-radius: 50px;
        width: 0.35vw;
        transition: width 1s ease-in-out;
    }

    #passive::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 20vw;
    }
}