@font-face {
	font-family: Arita-buriM;
	src: url(../../../fonts/Arita-buriM.otf);
}

$font-list: Arita-buriM, sans-serif;

html {
	background-color: #362113;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

@mixin DefaultStyle($special){
	background-color: #362113;
	border: 0.4vmin solid #83502e;
	border-radius: 0.8vmin;

	color: #CE8B54;
	font-family: inherit;
	font-weight: 500;
	font-size: 2vmin;
	letter-spacing: 0.2vmin;

	margin: 0.5% 0;

	height: 5vmin;

	transition: border-color 0.2s ease-in-out;

	&:focus { border: 0.4vmin solid #ce8b54; outline: none; }

	@if $special == "text" {
		padding: 0 2vmin;
		width: 97.4%;
	}

	@if $special == "select" {
		display: inline;
		float: left;
		width: 25%;
		margin-right: 0.5vw;
		&option { background-color: #362113; color: #CE8B54; }
	}

	@if $special == "button" {
		display: inline;
		background-color: #362113;
		padding: 0;

		float: right;

		width: 30%;
		
		transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;

		&:hover { background-color: #714b2c; }
	}
}

#keyPages {
	text-align: center;
	font-family: $font-list;

	h1 { font-size: 10vmin; color: yellow; filter: blur(0.06vmin); 
		letter-spacing: 1vmin; text-shadow: 0.3vmin 0.3vmin 1vmin #fcfc5e; 
		font-weight: 600
	}

	input[type=text] { @include DefaultStyle("text"); }

	select { @include DefaultStyle("select"); }

	#advancedSetting { @include DefaultStyle("button"); }

	#searchHelp {
		padding: 0 5% 0 5%;
	}

	#Note { 
		text-align: center; 
		color: gray;
		font-weight: 900;
		font-size:2.5vmin;
	}

	#keyPageList {
		margin: 1%;
		text-align: left;

		#List { 
			list-style-type: none; 
			padding-left: 0; 

			#mainList {
				float: left;
				width: 33%;
				min-width: 33%;
				margin-bottom: 2%;
			}
		}
	}
}

